html
    head
        title= title
    style
        include style.css
    body
        h1 Readable Regex 
        h4 API to execute readable regex
        label Enter a string to run regex on
        br
        br
        input(id='inputString' type='text' placeholder='i.e. #1234' onkeyup='enableButton()')
        br
        br
        label Select a regex operation to perform
        br
        br
        select(name='endpoint')
            option(value='onlyNumbers') Only Numbers
            option(value='onlyLetters') Only Letters
            option(value='onlySpecialCharacters') Only Special Characters
            option(value='isEmailAddress') Is Email Address
            option(value='isPhoneNumber') Is Phone Number
            option(value='excludeTheseCharacters') Exclude These Characters

        br
        br
        button(onclick='getResponse()' id='getResponseButton' disabled='true') Get Response
        br
        br
        h4 API response below
        br
        br
        div(id='responseBox')
        br
        br
        pre
            include codeSamples.html
        footer(id='footer')
            a(href="https://www.producthunt.com/posts/readble-regex?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-readble&#0045;regex" target="_blank")
                img(src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=841898&theme=light&t=1738718093901" alt="Readble&#0032;Regex - Regex&#0032;REST&#0032;API&#0032;for&#0032;easier&#0032;codebase&#0032;maintenance&#0032;of&#0032;regex | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54")
    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
        integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
        crossorigin='anonymous')

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
        integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script
        include script.js
        